<ion-view>
  <ion-content class="has-header padding" ng-controller="ClientsCtrl">
	<div class="list list-inset">
	  <label class="item item-input">
	    <input type="text" placeholder="Nom" ng-model="traitement.subject">
	  </label>
	  <label>
	    Date de début
	      <ionic-datepicker idate="currentDate">
	    	<button class="button button-block button-positive"> {{ traitement.date | date:'dd - MMMM - yyyy' }} </button>
		  </ionic-datepicker>
	  </label>
	  <label class="item item-input">
	    <input type="text" placeholder="Prix" ng-model="traitement.price">
	  </label>
	  <label class="item item-input item-select">
	    <div class="input-label">
	      Rabais
	    </div>
	    <select ng-model="traitement.discount">
	    	<option ng-repeat="item in discountList" ng-selected="traitement.discount == item" value="{{item}}">{{item}}</option>
	    </select>
	  </label>
	  <label class="item item-input item-select">
	    <div class="input-label">
	      Etat
	    </div>
	    <select ng-model="traitement.status">
	    	<option ng-repeat="(key, value) in statusList" ng-selected="traitement.status == key" value="{{key}}">{{value}}</option>
	    </select>	    
	  </label>
	  <label class="item item-input item-select">
	    <div class="input-label">
	      Type de traitement
	    </div>
	    <select ng-model="traitement.treatment">
	    	<option ng-repeat="item in traitementsList" ng-selected="traitement.treatment == item" value="{{item}}">{{item}}</option>
	    </select>
	  </label>
	  <label class="item item-toggle">
	    Type
		<label class="toggle">
		  <input type="checkbox" ng-model="traitement.type">
		  <div class="track">
		    <div class="handle"></div>
		  </div>
		</label>	
	  </label>
    </div>
	<button class="button button-block button-positive">Enregistrer</button>
  </ion-content>
</ion-view>
