<ion-view>
  <ion-content class="has-header padding" ng-controller="ClientsCtrl">
	<div class="list list-inset">
	  <label class="item item-input item-select">
	    <div class="input-label">Genre</div>
	    <select ng-model="client.gender">
	    	<option ng-repeat="item in genderList" ng-selected="client.country == item" value="{{item}}">{{item}}</option>
	    </select>
	  </label>
	  <label class="item item-input">
	    <input type="text" placeholder="Nom" ng-model="client.lastname">
	  </label>
	  <label class="item item-input">
	    <input type="text" placeholder="Prénom" ng-model="client.firstname">
	  </label>
	  <label class="item item-input">
	    <input type="text" placeholder="Adresse" ng-model="client.address">
	  </label>
	  <label class="item item-input">
	    <input type="text" placeholder="Code postal" ng-model="client.zip">
	  </label>
	  <label class="item item-input">
	    <input type="text" placeholder="Ville" ng-model="client.city">
	  </label>
	  <label class="item item-input item-select">
	    <div class="input-label">
	      Pays
	    </div>
	    <select ng-model="client.country">
	    	<option ng-repeat="(key, value) in countryList" ng-selected="client.country == key" value="{{key}}">{{value}}</option>
	    </select>
	  </label>
	</div>
	<h2>Coordonnées</h2>
	<div class="list list-inset">
	  <label class="item item-input">
	    <input type="text" placeholder="Téléphone" ng-model="client.phone">
	  </label>
	  <label class="item item-input">
	    <input type="text" placeholder="Mobile" ng-model="client.mobile">
	  </label>
	  <label class="item item-input">
	    <input type="text" placeholder="Tel. prof" ng-model="client.prof_phone">
	  </label>
	  <label class="item item-input">
	    <input type="text" placeholder="E-mail" ng-model="client.email">
	  </label>
	</div>
	<h2>Informations complémentaires</h2>
	<div class="list list-inset">
	  <label class="item item-input item-select">
	    <div class="input-label">Etat civil</div>
	    <select ng-model="client.civilstatus">
	    	<option ng-repeat="item in civilStatusList" ng-selected="client.civilstatus == item" value="{{item}}">{{item}}</option>
	    </select>
	  </label>
	  <label class="item item-input">
	    <input type="number" placeholder="Nombre d'enfants" ng-model="client.children">
	  </label>
	  <label class="item item-toggle">
	     Enceinte
		  <label class="toggle">
		     <input type="checkbox" ng-model="client.pregnant">
		     <div class="track">
		       <div class="handle"></div>
		     </div>
		</label>	
	  </label>	  
	  <label>
	    Date de naissance
	      <ionic-datepicker idate="currentDate" >
	    	<button class="button button-block button-positive"> {{ client.birthdate | date:'dd - MMMM - yyyy' }} </button>
		  </ionic-datepicker>
	  </label>
	</div>
    <h2>Etat de santé</h2>    
    <div class="list list-inset">
	  <label class="item item-input">
	    <textarea type="text" placeholder="Maladies" ng-model="client.disease"></textarea>
	  </label>
	  <label class="item item-input">
	    <textarea type="text" placeholder="Accidents" ng-model="client.accident"></textarea>
	  </label>
	  <label class="item item-input">
	    <textarea type="text" placeholder="Opérations" ng-model="client.surgery"></textarea>
	  </label>
	  <label class="item item-input">
	    <textarea type="text" placeholder="Traitements" ng-model="client.treatment"></textarea>
	  </label>
	  <label class="item item-input">
	    <textarea type="text" placeholder="Médicaments" ng-model="client.medecine"></textarea>
	  </label>
    </div>
    <h2>Autres</h2>    
    <div class="list list-inset">
	  <label class="item item-input">
	    <textarea type="text" placeholder="Raison de la visite" ng-model="client.reason"></textarea>
	  </label>
	  <label class="item item-input">
	    <textarea type="text" placeholder="Commentaires" ng-model="client.info"></textarea>
	  </label>
	  <label>
	    Date de signature
	      <ionic-datepicker idate="currentDate" >
	    	<button class="button button-block button-positive"> {{ client.date | date:'dd - MMMM - yyyy' }} </button>
		  </ionic-datepicker>
	  </label>
	  <label class="item item-toggle">
	     Abonnement newsletter
		  <label class="toggle">
		     <input type="checkbox" ng-model="client.newsletter">
		     <div class="track">
		       <div class="handle"></div>
		     </div>
		</label>	
	  </label>	  
    </div>
	<button class="button button-block button-positive">Enregistrer</button>
  </ion-content>
</ion-view>
