<ion-view>
  <ion-content class="padding">
    <h2>Traitements</h2>
  	<div ng-repeat="traitement in traitements">
  	  <i class="icon treatment-status" ng-class="traitement.type == 'P' ? 'ion-eye' : 'ion-eye-disabled'"></i>
      <h3>{{ traitement.subject }}</h3>
      <p>
      <label>Type de traitement : <label>
      {{ traitement.treatment }}
      </p>
      <p>
      <label>Début du traitement : <label>
      {{ traitement.date | dateFormat }}
      </p>
      <h4>Consultations</h4>
  	  <ion-list>
  	    <ion-item ng-repeat="consult in traitement.consults">
  	      {{ consult.date | dateFormat }} -- {{consult.treatment}}
          <i class="icon edit-list ion-edit"></i>
  	    </ion-item>
  	  </ion-list>      
      <button class="button button-clear button-positive">Modifier le traitement</button>
      <p>&nbsp;</p>
      <hr />
    </div>
  </ion-content>

  <!-- Colored FAB button with ripple -->
  <button class="fab-button mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" ui-sref="menu.createtraitement">
    <i class="material-icons">add</i>
  </button>
</ion-view>
